body{
    background-color: orange;
}
.debug .container{
    height: 100px;
}
.container .bg-black{
    background-color: black;
}
.container .bg-white{
    background-color: white;
    border: white;
}
.container .bg-orange{
    background-color: orange;
    border: orange;
}
.container .bg-yellow{
    background-color: yellow;
    border: yellow;
}
.container .border{
    border-right:3px solid yellow;
}

/* Eye */
.circle{
    width:95px;
    height:95px;
    border-radius: 50%;
}
.bottom{
    background-color: lightseagreen;
    border: 2px solid lightgray;
    position: relative;
}
.middle{
    text-align: center;
    background-color: black;
    width:80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-59%, -50%);
}
.top{
    background-color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    left: 46%;
}
.space{
    margin-top:100px;
}
.space-bot{
    margin-bottom:100px;
}