.debug .container{
    height: 100px;
}
.container .bg-black{
    background-color: black;
}
.container .bg-white{
    background-color: white;
    border: white;
}
.container .bg-yellow{
    background-color: yellow;
    border: yellow;
}